footer {
    height: 250px;
    background-color: rgb(38, 85, 124);
}

.margin {
    margin-left: 2%;
    padding: 1%;
    margin-right: 3%;
}

.logo {
    width: 7%;
}

.social-media {
    justify-content: space-around;
    height: 20px;
    width: 10%;
    margin-top: 1%;
}

.social-img{
    width: 20%;
}