body{
    font-family: 'Open Sans', sans-serif;

}

.menu{
    display: flex;
    font-size: 25px;
    color: #E5E5E5;
    justify-content: space-around;
    background-color: #3E606F;
    padding: 1% 0% 1% 0%;
    width: 100%;
}

ul li:hover{
    color: black;
    cursor: pointer;
}

.carrossel{
    height: 500px;
}

.mySlides {
    display:none;
    height: 500px;
    width: 252.6%; 
    /* arrumar */
}

.pilares{
    justify-content: center;
    display: flex;
    color: #E5E5E5;
}

.pilares h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}

.pilares h2{
    text-align: center;
    padding: 2%;
    line-height: 22px;
}

.missao, .visao, .valor{
    width: 30%;
    height: 270px;
    padding: 2%;
    text-align: center

}

.missao{
    background-color: #193441;
}

.visao{
    background-color: #3E606F;

}

.valor{
    background-color: #193441;

}

.metricas{
    width: 90%;
    /* border: solid rgb(0, 0, 0); */
    height: 100px;
    text-align: center;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    background-color: #193441;
}

b{
 font-weight: bolder
}

.img_metricas{
    width: 20%;
    float: left;
    margin-top: 17px
}

.numeros_metricas{
    color: #FF5252;
    float: left;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 30px
}

.sub_titulo_metricas{
    color: #E5E5E5;
    font-size: 20px;
    float: left;
    padding: 1%;
}

.padd{
    margin-top: 13%;
}

.empresas, .pc, .paises{
    width: 30%;
}

.paragrafos{
    width: 100%;
    height: 510px;
    margin-bottom: 2%;
    line-height: 30px;
    background-color: #042F40;
    color: #E5E5E5;
    padding: 5% 0% 5% 0%
}

.sobre_produto{
    width: 90%;
    margin-left: 5%;
    height: 500px;
    margin-bottom: 2%;

}

.paragrafo_um{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 4%
}

.paragrafo_dois{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;

}

.text{
    margin-left: 1%;
    font-size: 25px;
    padding: 10px
}

.img_parag_um, .img_pag_dois{
    padding-top: 10px;
    width: 25%;
    height: 200px;
}

.bd{
    border-left: solid rgb(255, 255, 255) 2px;
    height: 200px;
}

.bd_dois{
    border-right: solid rgb(255, 255, 255) 2px;
    height: 200px;
    margin-right: 1%
}

.img_pilares{
    width: 20%;
    padding: 15px;
}

.negociacao{
    box-sizing: border-box;
    margin-bottom: -1%;

}

.negociacao img{
    width: 100%;
}

.numeros_illumy{
    text-align: center;
    font-size: 40px;
    color: #E5E5E5;
    padding: 2%;
    
}

