body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #E5E5E5;
}

ul li a:hover {
    color: rgb(115, 154, 185);
    cursor: pointer;
}

header{
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    font-size: 20px;
    color: rgb(229, 229, 229);
    justify-content: space-around;
    background-color: rgb(41, 41, 41);
    padding: 1% 0% 1% 0%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.topo {
    height: 400px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15%
}

.topo h2 {
    color: #E5E5E5;
    font-size: 25px;
}

.titulo-principal {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    line-height: 9vw;
}

.btt {
    border: solid rgb(255, 255, 255);
    width: 7%;
    padding: 1%;
    color: #E5E5E5;
    border-radius: 10px;
    float: right;
    margin-top: 10%;
    margin-right: 2%;
    cursor: pointer;
}

.btt:hover {
    color: black;
    border: solid rgb(115, 154, 185);
    background-color: white;
    font-weight: 400
}

.pilares {
    display: flex;
    background-color: rgb(27, 27, 27);
}

.pilares h2 {
    text-align: center;
    padding: 2%;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
}

.missao, .visao, .valor {
    width: 30%;
    height: 650px;
    padding: 2%;
    text-align: center;
    color: #E5E5E5
}

.missao h1, .visao h1, .valor h1 {
    color: rgb(74, 163, 236);
    font-size: 40px
}

.img_pilares {
    width: 20%;
    padding: 15px;
}

.img_transicao {
    height: 125px;
    background-image: url(../img/art-big-data-blur-373543.jpg);
    background-attachment: fixed;
    filter: grayscale(70%);
    opacity: 50%;
}

.container_box {
    display: flex;
    justify-content: space-around;
}

.fundo-produtos {
    background-color: #262E36
}

.nossos_produtos p {
    padding: 3%;
}

.titulo {
    font-size: 90px;
    width: 25%;
    color: rgb(29, 21, 21);
    padding: 5%;
    color: #E5E5E5;
}

.pdt {
    color: rgb(255, 255, 255);
}

.box h2 {
    text-align: center;
    padding: 2%;
    font-size: 25px;
    color: rgb(74, 163, 236);
}

.box img {
    width: 20%;
    padding: 5%
}

.box p {
    line-height: 30px;
    color: #E5E5E5;
    text-align: justify
}

.box b {
    line-height: 8px;
    color: rgb(80, 198, 219);
    margin-bottom: 3%;
    text-align: justify
}

.box {
    width: 30%;
    margin-bottom: 5%;
    height: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px 20px 20px 20px;
}

.bnt1 {
    color: rgb(80, 198, 219);
    margin-top: 15%;
    font-size: 22px;
    cursor: pointer;
}

.bnt2 {
    color: rgb(80, 198, 219);
    margin-top: 12%;
    font-size: 22px;
    cursor: pointer;
}

.bnt3 {
    color: rgb(80, 198, 219);
    margin-top: 5%;
    font-size: 22px;
    cursor: pointer;
}

.bnt1:hover {
    color: #E5E5E5;
}

.bnt2:hover {
    color: #E5E5E5;
}

.bnt3:hover {
    color: #E5E5E5;
}

.clientes {
    color: #E5E5E5;
    width: 100%;
    margin-left: 3%;
}

.animacao {
    height: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 60%;
    background-color: aquamarine;
    animation: carregar 6s;
    color: #E5E5E5;
}

@keyframes carregar {
    0% {
        width: 0%;
    }
    100% {
        width: 60%
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.time {
    height: 650px;
    width: 100%;
    background-color: #262E36;
}

.area_metricas {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 650px;
    background-size: cover;
    line-height: 20px;
}

.indicadores {
    margin-left: 1%;
    position: relative;
    color: #E5E5E5;
    float: left;
}

.numeros {
    display: flex;
    justify-content: space-around;
    text-align: center;
    -webkit-animation: fadeIn 5s ease-in-out;
    -moz-animation: fadeIn 5s ease-in-out;
    -o-animation: fadeIn 5s ease-in-out;
    animation: fadeIn 5s ease-in-out;
}

.indicadores img {
    width: 20%;
    margin-top: 18px;
}

.indicadores h1 {
    font-size: 55px;
    color: #E5E5E5;
    margin-top: 20px;
}

.indicadores p {
    font-size: 20px;
    margin-top: 22px;
    color: #E5E5E5
}

.indicadores {
    margin-top: 35px;
    position: relative;

}