.topo {
    height: 400px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 8%;
    text-align: center;
}

.topo h2 {
    color: #E5E5E5;
    font-size: 25px;
}

.logo-top{
    width: 25%;
    margin-bottom: 2%;
}

.btt {
    border: solid rgb(255, 255, 255);
    width: 7%;
    padding: 1%;
    margin-top: 10%;
    color: #E5E5E5;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

.btt:hover {
    color: black;
    border: solid rgb(115, 154, 185);
    background-color: white;
    font-weight: 400
}